<div class="jumbotron">
		<h4>{{ app }}</h4>
		<div class="col-md-12">
			<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Busca"/>
		</div>
		
		<!--<div class="col-md-12">-->
			<table ng-show="contatos.length > 0" class="table">
				<tr>
					<th></th>
					<th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
					<th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
					<th>Operadora</th>
					<th> </th>
					<th>Data</th>
				</tr>
				<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: criterioDeBusca | orderBy: criterioDeOrdenacao : direcaoDaOrdenacao | limitTo: 5">
					<td><input type="checkbox" ng-model="contato.selecionado"/></td>
					<td>{{contato.nome | name | ellipsis: 10 }}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome | lowercase}}</td>
					<td style="width:20px; height:20px;" ng-style="{'background-color': contato.cor}"></td>
					<td>{{contato.data | date: 'EEE dd/MM/yyyy'}}<td/>
				</tr>
			</table>
		<hr/>
</div>
<div>
	<a class="btn btn-primary btn-block" href="#/contatos/novoContato">Novo Contato</a>
	<button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-disabled="false" ng-if="isContatoSelecionado(contatos)">Remove</button>
</div>

		
