<html ng-app="aplicacao">
<head>
    <title>Angular aplicacao</title>

    <!--Scripts-->
    <script src="../../Scripts/angularJS/angular.js"></script>
    <script src="../../Scripts/angularJS/angular-messages.js"></script>
    <script src="../../Scripts/angularJS/angular-route.js"></script>
    <script src="../../Scripts/angularJS/angular-locale_pt-br.js"></script>
    <script src="../../Scripts/ng-file-upload.js"></script>
    <script src="../../Scripts/ng-file-upload-shim.js"></script>
    <!--Estilos-->
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/Style/ListaContatos.css" rel="stylesheet" />
</head>
<body class="principal">
    
    <div ng-controller="ListaContatosController">
        <div class="jumbotron">
            <h3 ng-bind="appName" class="titulo"></h3>
            {{data | date: "dd/MM/yyyy"}}
            <input class="form-control" ng-model="busca" placeholder="buscar"/>
            <!--TABLE LISTA CONTATOS-->
            <table class="table table-condensed table-hover">
                <tr class="alert-info">
                    <th></th>
                    <th></th>
                    <th><a href="" ng-click="ordernarPor('NomeContato')">Nome</a></th>
                    <th><a href="" ng-click="ordernarPor('TelefoneContato')">Telefone</a></th>
                    <th><a href="" ng-click="ordernarPor('Operadora.NomeOperadora')">Operadora</a></th>
                </tr>
                <tr ng-repeat="contato in contatos | filter: busca | orderBy: criterioOrdenacao : !crescOuDecr " class="palleta">
                    <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                    <td></td>
                    <td>{{ contato.NomeContato | limitTo: 6 }}</td>
                    <td>{{ contato.TelefoneContato | limitTo: 9}}</td>
                    <td>{{ contato.Operadora.NomeOperadora }}</td>
                </tr>
                <tr class="palleta">
                    <td></td>
                    <td></td>
                    <td>{{contato.NomeContato}}</td>
                    <td>{{contato.TelefoneContato}}</td>
                    <td>{{nomeOperadora}}</td>

                </tr>
            </table>
            <!--TABLE LISTA CONTATOS FIM-->
            <hr />
            <div ng-show="formContato.nome.$dirty" ng-messages="formContato.nome.$error" class="alert alert-danger font16">
                <div ng-message="required">Preencha um Nome</div>
                <div ng-message="minlength">Minimo de 7 caracteres</div>
            </div>
            <div ng-show="formContato.telefone.$dirty" ng-messages="formContato.telefone.$error" class="alert alert-danger font16">
                <div ng-message="required">Preecha um Telefone</div>
                <div ng-message="pattern">Telefone Invalido</div>
            </div>
            <div>
                <form name="formContato">
                    <input class="form-control" type="text" ng-model="contato.NomeContato" placeholder="Nome" ng-required="true" name="nome" ng-minlength="7"/>
                    <input class="form-control" type="text" ng-model="contato.TelefoneContato" placeholder="Telefone" ng-required="true" name="telefone" ng-pattern="/^\d{4,5}-\d{4}$/"/>
                    <select class="form-control" ng-model="contato.OperadoraIDContato" ng-change="nomeOperadoraGet(contato.OperadoraIDContato)" ng-options="operadora.OperadoraID as operadora.NomeOperadora for operadora in operadoras | orderBy: 'NomeOperadora' ">
                        <option value="">Selecione uma Operadora</option>
                    </select>
              
                </form>
 
                <!--Upload-->
                

                <!--Upload-->
                    <button class="btn  btn-info btn-block" ng-click="AddContato(contato)" ng-disabled="formContato.$invalid">Adicionar Contato</button>
                    <button class="btn  btn-danger btn-block" ng-click="" ng-disabled="false">Deletar Contatos</button>

</div>
        </div>
      </div>  
        
        

    <div ng-include="'footer.html'"></div>


    <script>
        angular.module("aplicacao", ['ngFileUpload', "ngMessages"]);
        angular.module("aplicacao").controller("ListaContatosController", function ($scope, $http, Upload, $timeout) {
        //modulo fileupload
     
        /////////////////////////////////////////
        $scope.appName = "Lista de Contatos";
        $scope.data = new Date();
        $scope.AddContato = function (contato) {
            $http.post("http://localhost:53957/api/Contato", contato).success(function (data, status) {
                delete $scope.contato;
                delete $scope.nomeOperadora;
                $scope.formContato.$setPristine();
                carregarContatos();
            });

        };
        $scope.ordernarPor = function (campo) {
            $scope.criterioOrdenacao = campo;
            $scope.crescOuDecr = !$scope.crescOuDecr;
        };

        $scope.nomeOperadoraGet = function (operadoraID) {
            var operadora = $scope.operadoras.filter(function (elemento) {
                return elemento.OperadoraID === operadoraID;
            });
            //console.log(operadora.length);
            if (operadora.length > 0)
                $scope.nomeOperadora = operadora[0].NomeOperadora;
            else
                delete $scope.nomeOperadora; 
        };

        var carregarContatos = function () {
            $http.get("http://localhost:53957/api/Contato").success(function (data, status) {
                $scope.contatos = data;
            });
        };

        var carregarOperadoras = function () {
            $http.get("http://localhost:53957/api/Operadora").success(function (data, status) {
                $scope.operadoras = data;
            });
        };

       
        carregarContatos();
        carregarOperadoras();
    });
    </script>
</body>
</html>
