<div class="jumbotron">
    <form>
        <input class="form-control" type="text" placeholder="Operadora" ng-model="operadora.NomeOperadora" />
        <input class="form-control" type="text" placeholder="Codigo" ng-model="operadora.CodigoOperadora" />
        <select class="form-control" ng-model="operadora.Tipo">
            <option value="Celular">Celular</option>
            <option value="Fixo">Fixo</option>
        </select>


        <!--Upload-->
        <!--Upload-->
        <button class="btn  btn-info btn-block" ng-click="novaOperadora(operadora)">Adicionar Operadora</button>
    </form>
</div>

